// _grid.scss
/* Grid System */
.container {
    width: 100%;
    max-width: 5000px;
    margin: 0 auto;
    padding-top: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  
  .col {
    padding: 0 15px;
    flex: 1;
  }
  
  .col-6 {
    width: 50%;
    flex: 0 0 50%;
  }

  .main-container {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
  
  @media (max-width: 768px) {
    .col-6 {
      width: 100%;
      flex: 0 0 100%;
    }
  }